<!DOCTYPE html>
<html>
  <head>
    <%- include('./head') %>
  </head>
  <body
    class="h-screen grid-cols-1 bg-white font-[Poppins] text-black dark:bg-gray-800 dark:text-white"
  >
    <%- include('./body') %>
  </body>
</html>
